{% extends 'orchestration/base.html' %}
{% block title %}Department Detail{% endblock %}

{% block body %}
{% if department %}
<div id="page-wrapper" class="maincontent">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Detail of {{department.deptname}}</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>


    <div class="row">
        <div>
            <div class="col-lg-4">


                <a href="{% url 'orchestration:deptdetail' department.id %}" target="_parent">
                    <img src="{{ department.dept_logo.url }}" alt="Lights" class="img-thumbnail center-block">
                </a>


                <!-- /.panel-body -->
            </div>

            <div class="col-lg-4">


                <div class="list-group">

                    <h4 class="list-group-item">
                        Owner:&nbsp {{department.owner}}
                    </h4>


                    <h5 class="list-group-item">
                        Description:<br/>
                        &nbsp&nbsp{{department.description}}
                    </h5>
                </div>
                <div class="list-group">

                    <a href="{% url 'orchestration:updatedepartment' department.id%}" class="btn btn-primary btn-sm"
                       role="button"> update </a>

                </div>


                <!-- /.panel -->

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">

                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <table width="100%" class="table table-striped table-bordered table-hover"
                           id="dataTables-example">
                        <thead>
                        <tr>
                            <th>ProjectName</th>
                            <th>Action</th>

                        </tr>
                        </thead>
                        <tbody>

                        {% for project in department.project_set.all %}
                        <tr class="odd gradeX">
                            <td>{{project.projectname}}</td>

                            <td class="center"><a href="{% url 'orchestration:projectdetail' project.id %}"
                                                  class="btn btn-primary btn-sm" role="button">View Details</a>
                                <form action="{%url 'orchestration:deleteproject' project.id%}" method="post" style="display: inline;">
                                    {% csrf_token %}
                                    <input type="hidden" name="project_id" value="{{department.id}}"/>
                                    <button type="submit" class="btn btn-default btn-sm">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </button>
                                </form>
                            </td>


                        </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-lg-2 col-lg-offset-10">
                            <a href="{% url 'orchestration:addproject'%}" class="btn btn-primary btn-lg" role="button">&nbsp&nbsp&nbsp&nbspAdd
                                Project&nbsp&nbsp&nbsp&nbsp</a>
                        </div>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>

        {% endif %}
        {% endblock %}