{% extends 'orchestration/base.html' %}
{% block title %}Index{% endblock %}

{% block body %}

<div id="page-wrapper" class="maincontent">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Departments</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <div class="row">

        <div class="col-lg-3">
            <div class="thumbnail">
                <a href="/orchestration/detail/department/10/" target="_parent">
                    <img src="/media/ubisoft_S7SSZGT.png" class="max-width:100%" alt="Responsive image ">
                </a>

                <div class="caption">
                    <!-- View Details -->
                    <a href="/orchestration/detail/department/10/" class="btn btn-primary btn-sm" role="button">View
                        Details</a>


                    <!-- Favorite Album -->
                    <a href="" class="btn btn-default btn-sm btn-favorite" role="button">
                        <span class="glyphicon glyphicon-star "></span>
                    </a>

                </div>
            </div>
        </div>
        {% if object_list %}
        {% for department in object_list %}
        {% if department.dept_logo and department.deptname != 'Base'%}

        <div class="col-lg-3">
            <div class="thumbnail">
                <a href="{% url 'orchestration:deptdetail' department.id %}" target="_parent">
                    <img src="{{ department.dept_logo.url }}" class="max-width:100%" alt="Responsive image ">
                    <!--          <div class="caption">
                                <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
                              </div>-->
                </a>

                <div class="caption">
                    <!-- View Details -->
                    <a href="{% url 'orchestration:deptdetail' department.id %}" class="btn btn-primary btn-sm"
                       role="button">View Details</a>

                    <!-- Delete Album -->
                    <form action="{% url 'orchestration:deletedepartment' department.id %}" method="post"
                          style="display: inline;">
                        {% csrf_token %}
                        <input type="hidden" name="album_id" value="{{ album.id }}"/>
                        <button type="submit" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </form>

                    <!-- Favorite Album -->
                    <a href="" class="btn btn-default btn-sm btn-favorite" role="button">
                        <span class="glyphicon glyphicon-star {% if album.is_favorite %}active{% endif %}"></span>
                    </a>

                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}

        <div class="col-lg-3">
            <div class="thumbnail">
                <a href="{% url 'orchestration:adddepartment' %}" target="_parent">
                    <img src="/media/plus.png" class="max-width:100%" alt="Responsive image ">
                </a>
            </div>
        </div>
    </div>

    {% endblock %}