{% extends 'orchestration/base.html' %}
{% block title %}Department Detail{% endblock %}

{% block body %}
{% if project %}
<div id="page-wrapper" class="maincontent">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Detail of {{project.projectname}}</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>


    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        &nbsp&nbspOwner:&nbsp {{project.owner}}
                    </div>
                    <div class="row">
                        &nbsp&nbspDescription:<br/>
                        &nbsp&nbsp{{project.description}}
                    </div>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <table width="100%" class="table table-striped table-bordered table-hover"
                           id="dataTables-example">
                        <thead>
                        <tr>
                            <th>Nodename</th>
                            <th>Roles</th>
                            <th>States</th>
                            <th>Action</th>

                        </tr>
                        </thead>
                        <tbody>

                        {% for node in project.node_set.all %}
                        <tr class="odd gradeX">
                            <td><a href="{% url 'orchestration:projectdetail' project.id %}"> {{node.nodename}}</a></td>
                            <td>
                                {% for role in node.roles.all%}
                                <a href="{% url 'orchestration:roledetail' role.id%}">   <p> {{role.rolename}}</p></a>
                                {%endfor%}
                            </td>
                            <td>

                                {%for role in node.roles.all %}
                                {% for state in role.states.all %}
                                <a href="{% url 'orchestration:statedetail' state.id%}"><p>{{state}}</p></a>
                                {%endfor%}
                                {%endfor%}

                            </td>


                            <td class="center">
                                <form action="{% url 'orchestration:deletenodefromproject' node.id %}" method="post"
                                      style="display: inline;">
                                    {% csrf_token %}
                                    <input type="hidden" name="node_id" value="{{ node.id }}"/>
                                    <button type="submit" class="btn btn-default btn-sm">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </button>
                                </form>
                            </td>


                        </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-lg-2 col-lg-offset-10">
                              <p>

                            <a href="{% url 'orchestration:addnodefromproject' project.id%}" type="button" class="btn btn-primary">&nbsp&nbspAdd&nbsp&nbsp</a>
                            <a href="{% url 'orchestration:nodeindex'%}" type="button" class="btn btn-primary">List All</a>

                        </p>
                            <!--<a href="{% url 'orchestration:addnodefromproject' project.id%}" class="btn btn-info"-->
                               <!--role="button">Add-->
                                <!--Node</a>-->
                        </div>



                    </div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>

    {% endif %}
    {% endblock %}